netlinklib/classes.py
netlinklib/legacy_classes.py
netlinklib/defs.py
mknetlinkdefs/mkdefs*
**/__pycache__/
.pybuild/
debian/.debhelper
debian/*debhelper*
debian/files
debian/*substvars
debian/python3-netlinklib/
netlinklib.egg-info
